.vagrant/
tmp/
cookbooks/
cookbooks.dev/
.chef/*.pem
.chef/knife.rb
.chef/encrypted_data_bag_secret
.chef/syntax_check_cache
.chef/casit.crt
.chef/client.rb
.chef/trusted_certs/
syntax_check_cache/
backup.sh
